# General
.DS_Store
.env
.env.*
*.log

# Node
node_modules/
**/node_modules/
frontend/node_modules/
.npm/
yarn.lock
.pnpm-store/
.vite/
.next/
build/
dist/
.cache/
**/.cache/

# Python
__pycache__/
*.pyc
.venv/

# Build artifacts
\.pytest_cache/

# IDE
.vscode/
.idea/

# DB
data/